body {
    background-image: url("../images/wall4_@2X.png");
    align-content:center;
    margin: auto;  
 }

#title {
    background-color:#4aaaa5;
    color:#ffffff;
    text-align:center;
    padding:5px 20px 5px 20px;
    /* border:solid; */
    width:150px;
    float:right;
    position:fixed;
    left:350px;
    
}

#name {
    /* border:solid; */
    margin-left:320px;
    margin-bottom:50px;
    width:960px
}

#content {
    margin-bottom:50px;
    background-color:#ffffff;
    text-align:right;
    width:100%;
    float:right;
    position:static;
    
}

#link1 {
    float:right;
    padding: 10px;
    border-left: solid;
    border-width:0.5px;

}
#link2 {
    float:right;
    padding: 10px;
    border-left:solid;
    border-width:0.5px
}
#link3 {
    float:right;
    padding: 10px;

    /* border:solid; */
}

#entire {
    margin:auto;
    background-image: url("../images/wall4_@2X.png");
    /* border:solid; */
    clear:both;
    width:960px;
}

#sidebar {
    padding:15px;
    background-color:#ffffff;
    width:270px;
    float:right;
    /* border:solid; */
    text-align:center;
}

#main {
    margin-bottom:50px;
    background-color:#ffffff;
    width:650px;
    float:left;
    /* border:solid; */
}
#Philippe {
    float:left;
}
#paragraph{
    float:right;
}

footer {
    margin-top: 35px;
    background-color:#666666;
    clear:both;
    text-align:center;
    color:#ffffff;
    border-top:solid;
    border-top-color:#4aaaa5;
    border-top-width: 10px;
    height:40px;
    padding-top:15px;
    
}

.head1 {
    color:#4aaaa5;
}
