body {
    background-color:#ffffff;
    width:960px;
}

#name {
    background-color:#4aaaa5;
    color:#ffffff;
    text-align:center;
    padding:5px 10px 5px 10px;
}

#content {
    background-color:#ffffff;

}

#entire {
    background-image: url("../images/wall4_@2X.png");
}

#sidebar {
    background-color:#ffffff;
    width:270px;
}

#main {
    background-color:#ffffff;
    width:650px;
}

footer {
    background-color:#666666;
}

.head1 {
    color:#4aaaa5;
}
